<%= link_to("<<Back to List", {:action => 'list'} )%>


	
<div>
	<h2>Delete Student</h2>
	
	<%= form_for(:student, :url => {:action => 'destroy',:id=> @student.id}) do |f| %>
	<p>Are you sure to delete??</p>
	<p><%=@student.name%></p>
	<div >
			<%= submit_tag("Delete Student")%>
	</div>
	
	<% end %>
</div>
