<%@page_title="Edit" %>
<%= link_to("<<Back to List", {:action => 'list'} )%>


	
<div>
	<h2 class="leftmargin">Update Student</h2>
	<br />
	
	<%= form_for(:student, :url => {:action => 'update',:id=> @student.id}) do |f| %>
	<div class="leftmargin">
	<%= render(:partial => "form", :locals =>{:f => f}) %>
	</div>
	<br />
		<div class="leftmargin"> 
			<%= submit_tag("Update Student")%>
		</div>
	
	<% end %>
</div>

