<%@page_title="Home" %>
<div>
	
<h2 class="center">Welcfzdsfdfdfdsfsdome<br /></h2>
<div class ="center">
<%= link_to("Home ",'# ')%>&nbsp;|
<%= link_to("Students List",'/students/list')%>
</div>	
</div>
