<%@page_title="New" %>

<%= link_to("<<Back to List", {:action => 'list'} ,:class => 'back-link')%>


	
<div class="leftmargin">
	<h2 class="leftmargin">Create Student</h2>
	<br />
	<div class="leftmargin">
	<%= form_for(:student, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => "form", :locals =>{:f => f})%>
	</div>
	<br />
		<div class="leftmargin">
			<%= submit_tag("Create Student")%>
		</div>
	
	<% end %>
</div>

